<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue006组件案例</title>
    <link rel="stylesheet" href="./lib/bootstrap.min.css">
    <script src="lib/vue.js"></script>
    <script src="lib/vue-resource-1.3.4.js"></script>
    <script src="lib/mock.js"></script>
</head>
<body>
<div id="app">
    <cmtbox></cmtbox>
    <ul class="list-group col-lg-12">
        <li class="list-group-item" v-for="item in list" :key="item.Id">
            <span class="badge">评论人:{{item.user}}</span>
            {{item.content}}
        </li>
    </ul>
</div>
<template id="cmtbox">
    <div class="col-lg-12">
        <div class="form-group">
            <label class="control-label">评论人</label>
            <input type="text" class="form-control" v-model="user"/>
        </div>
        <div class="form-group">
            <label class="control-label">评论内容</label>
            <textarea class="form-control" v-model="content"></textarea>
        </div>
        <div class="form-group">
            <input type="button" class="btn btn-primary" value="添加评论"/>
        </div>
    </div>
</template>
<script>
    Mock.mock('getList',{
        "code": 0,
        "message": "请求成功",
        "data|8": [{
            "user": "@cname",//cname 中文，name 英文
            "id": "@id",
            "content":"公众号：honeyBadger8,宝剑锋从磨砺出，梅花香自苦寒来，做有温度的攻城狮!"
        }]
    })

    new Vue({
        el:'#app',
        data:{
            list:[]
        },
        methods:{
            getList(){
                this.$http.get('getList').then( res => {
                    this.list = res.body.data;
                })
            }
        },
        components:{
            'cmtbox':{
                template:'#cmtbox',
                data(){
                    return {
                        user:'',
                        content:''
                    }
                }
            }
        },
        mounted(){
            this.getList();
        }
    })
</script>
</body>
</html>